<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | strip | truncate: 160 }}{% endif %}">
  <link rel="icon" href="{{ site.url }}/favicon.ico" sizes="32x32" />
  <link rel="icon" href="{{ site.url }}/siteicon.png" sizes="152x152" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/siteicon.png" />
  <meta name="msapplication-TileImage" content="{{ site.url }}/siteicon.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"/>
	<style>
@media (min-width:1024px) {
  .container {
    max-width:800px
  }
}
code, kbd {
  padding: .150rem .375rem;
}

/* Custom styles to display anchor tags as normal text */
a.normal-text {
  text-decoration: none; /* Remove underline */
  color: inherit;        /* Inherit color from parent element */
}
	</style>
</head>
